body {
  margin: 0;
  background: #f3f3f3;
  width: auto;
  font-family: "Rubik", sans-serif;
}

header {
  height: 112px;
  display: inline-flex;
}

.navigation {
  display: inline-flex;
  margin: 0px 143px 0px 143px;
  align-items: center;
}

.navbar {
  margin-left: 86px;
}

.navbar a {
  margin-right: 25px;
  text-decoration: none;
  color: black;
}

.info {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 11px;
  height: 27px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 1%;
}
.info p {
  padding: 6px;
  margin: 0px;
}

main {
  margin-top: 300px;
}
.searchbox img {
  margin: 3px;
}

.searchbox {
  margin-block: auto;
  margin-left: 135px;
  display: inline-flex;
  background-color: rgba(196, 196, 196, 0.1);
  width: 264px;
  height: 30px;
  border: solid 0.5px grey;
  border-radius: 2px;
}

.search {
  background-color: rgba(196, 196, 196, 0.1);
  width: 227px;
  height: 23px;
  border: none;
  display: inline-flex;
  margin: 2px;
}

.account {
  float: right;
  margin-left: 20px;
  align-items: center;
}

.account img {
  margin-left: 8px;
}

.account p {
  margin: 0px;
  padding: 0px;
  font-size: 11px;
}
.account a {
  text-decoration: none;
  color: black;
}

.cart {
  float: right;
  margin-left: 5px;
}

.cart a {
  text-decoration: none;
  color: black;
}

.cart p {
  margin: 0 0 0 3px;
  padding: 0px;
  font-size: 11px;
}

h3 {
  color: purple;
}

#heipådeg {
  color: black;
}
